* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

/*header*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-bottom: 8px solid rgb(57, 1, 109);
  text-transform: uppercase;
  font-style: italic;
}

header h1 {
  margin: 20px;
  color: #ffffff;
}

header img {
  height: 30px;
  color: #ffffff;
}

input, 
button,
#new-priority {
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-right: 8px;
}

button {
  background-color: #009432;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}
button:hover {
  background-color: #01a538;
}

/*form*/

form {
  text-align: center;
  padding: 20px;
  background-color: rgb(57, 1, 109);
  display: none;
}

#cancel {
  background-color: #EA2027;
}

#cancel:hover {
  background-color: #ff4757;
}

/*container*/
.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .4);
}

/*notebook*/
#notebook {
  width: 80%;
  margin: 50px auto;
}

#label-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  cursor: pointer;
}

/*priorities*/
.low {
  color: #009432;
}

.medium {
  color: #ffdd59;
}

.high {
  color: #ff4757;
}

/*actions*/
.done {
  color: #CCCCCC;
  text-decoration: line-through;
}
