* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

/*header*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-bottom: 8px solid rgb(57, 1, 109);
  text-transform: uppercase;
  font-style: italic;
}

header h1 {
  margin: 20px;
  color: #ffffff;
}

header img {
  height: 30px;
  color: #ffffff;
}

input, 
button,
#priority {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #009432;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}
button:hover {
  background-color: #01a538;
}

/*form*/

form {
  text-align: center;
  padding: 20px;
  background-color: rgb(57, 1, 109);
  display: none;
}

#cancel {
  background-color: #EA2027;
}

#cancel:hover {
  background-color: #ff4757;
}

/*table*/
table {
  width: 80%;
  margin: 50px auto;
  border-collapse: collapse;
}

table th, table td {
  padding: 8px;
  text-align: center;
}

table th {
  width: 80%;
  border-bottom: 1px solid #000000;
}

table tr th,
table tr td {
  text-align: left;
}

table tfoot tr td {
  border-top: 1px solid #000000;
}


